<template>
  <div id="app">
    <Exchange></Exchange>
  </div>
</template>

<script>
import Exchange from './components/Exchange.vue';

export default {
  name: 'app',
  components: {
    Exchange,
  },
};
</script>
