<template>
  <div class="hello">
    <div class="hello__item">
      <input type="text" class="input" v-model="inputFirst">
      <select v-model="selectFirst">
        <option v-for="item in list" :key="item.id" :value="item.label">{{item.label}}</option>
      </select>
    </div>
    <div class="hello__item">
      <input type="text" class="input" v-model="secondValue">
      <select v-model="selectSecond">
        <option v-for="item in list" :key="item.id" :value="item.label">{{item.label}}</option>
      </select>
    </div>
  </div>
</template>

<script>
const optionList = [
  {
    label: 'Rur',
    id: 1,
  },
  {
    label: 'au',
    id: 2,
  },
];
export default {
  name: 'HelloWorld',
  data() {
    return {
      currentEx: 15,
      selectFirst: 'Rur',
      selectSecond: 'au',
      inputFirst: 1,
      inputSecond: 0,
      list: optionList,
    };
  },
  computed: {
    secondValue: {
      get() {
        return this.inputFirst * this.currentEx;
      },
      set(e) {
        this.inputSecond = e;
        this.inputFirst = this.inputSecond / this.currentEx;
      },
    },
    firstValue: {
      get() {
        return this.inputFirst;
      },
      set(e) {
        this.inputFirst = e;
        this.inputSecond = this.inputFirst * this.currentEx;
      },
    },
  },
};
</script>
